.container {
  min-height: 100vh;
}

.contentContainer {
  padding: 10px;
}

.rightLayout {
  background: #f0f2f5;
}

.content {
  padding: 10px;
  background: #fff;
  min-height: 100%;
  height: 100%;
}

.footer {
  text-align: center;
}

:global .ant-notification-notice {
  width: auto;
}
